.ProfileSection-container {
  width: 32%;
}

@media (max-width: 768px) {
  .ProfileSection-container {
    width: 98%;
  }
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 45px;
}
.profile-failure-con {
  background-color: #000000;
  background-size: cover;
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 45px;
}
.retry {
  background-color: #4f46e5;
  width: 65px;
  height: 25px;
  padding: 5px;
  color: #f8fafc;
}
.profile-picture {
  width: 95px;
  height: 95px;
}
.name {
  color: #6366f1;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
}
.role {
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}
.line-style {
  color: #7e858e;
  height: 2px;
  width: 97%;
  margin: 15px;
}
.employment-type-container {
  width: 100%;
  margin-bottom: 25px;
}
.heading {
  margin-left: 45px;
  margin-bottom: 20px;
  color: #f8fafc;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
}
.type-list {
  margin-top: 5px;
}
.list-style {
  list-style-type: none;
  color: #f8fafc;
  margin: 8px;
}
.items {
  color: #f8fafc;
  font-family: roboto;
  font-size: 15px;
}
